#pageheading{
  font-size: 3em;
  text-align: center;
  font-family: reison, raisonne, bhofila, sans-serif;
}
  #headlinks{
    text-align: center;
  }
  #headback{
    background-color: blue;
  }

.linkstyle{
  color:#ff0000;
  font-size: 1.5em;
  font-family: alegreya;
 background-color:#00ffff;
 display: inline-block;
 padding: 7px 21px 7px 21px;
 border-radius: 8px;
 text-decoration: none;
}

.purple-color{
color:#8845f4;
}
body {
font-family:sans-serif ;
color:#777777 ;
line-height: 26px;

 }
.half-width{
width:50% ;
float:left;

}
.side-img{
width:50% ;
padding-left:10%;
margin-top:20px ;
}
.primary-btn{
  font-family: serif;
/*   font-size: 1.5em; */
color:#e0ffff;
background-color:#8845f4;
padding: 13px 42px 13px 42px;
border-radius: 20px;
text-decoration: none;
}

h1 { 
font-size:2em;
}
.container{
padding-left: 5%;
display: inline-block;
}
.experiences{
padding:30px;
margin: 30px;
background-color:rgb(238,251,255) ;
border-radius: 20px;

}
.experience-item{
padding:10px ;
border-left:1px solid rgba(137,130,247,2) ;

}

#underconstruction{
  color:#dc9090;
  text-align: center;
  font-size: 4em;
  line-height: 100px;
  background-color: #c0c0c0;
  display: block;
  padding: 100px;
}







 
/*  > footer {
    border-top: 1px solid #ccc;
    padding-top: 0.5em;
    font-size: 0.8em; 
   .footer-module {
  font-size: 0.75rem;
  flex: 0 0 90%;
    
    .module {
  border: 1px solid #ccc;
  background: #eee;
  padding: 20px;
  margin: 0 0 20px 0;
  position: relative;
  .module-control {
    margin: -20px -20px 10px -20px;
  }*/
